<simulation>

  
  
  
  <laser>
    <type>FSO-WDM</type>
    <wavelength_nm>1550.0</wavelength_nm>
    <bandwidth_gbps>500.0</bandwidth_gbps>
    <modulation_delay_us>0.01</modulation_delay_us>
    <encryption>AES-GCM-256</encryption>
    <mode>Single Shot</mode> 
  </laser>

  
  
  
  <haps>
    <altitude_m>20000.0</altitude_m>
    <speed_kmh>117.0</speed_kmh>
    <orbit_radius_km>5.0</orbit_radius_km>
  </haps>

  
  
  
  <fiber>
    <latency_us>43.0</latency_us>
    <capacity_gbps>85.99</capacity_gbps>
  </fiber>

  
  
  
  <fiveG>
    <latency_us>5.0</latency_us>
    <capacity_gbps>10.0</capacity_gbps>
  </fiveG>

  
  
  
  <xrpl>
    <node_location>Tokyo</node_location>
    <transaction_size_bytes>93</transaction_size_bytes>
    <confirmation_time_ms>20.0</confirmation_time_ms>
  </xrpl>

  
  
  
  <cities>

    <city name="Tokyo">
      <latitude>35.6762</latitude>
      <longitude>139.6503</longitude>
      <elevation_m>40.0</elevation_m>
      <default_weather>clear</default_weather>
      <weather>
        <visibility_km>24.14</visibility_km>
        <humidity_percent>58.0</humidity_percent>
        <cloud_cover_percent>3.0</cloud_cover_percent>
        <fog>False</fog>
        <rain_mm_per_hr>0.0</rain_mm_per_hr>
        <snow_mm_per_hr>0.0</snow_mm_per_hr>
        <refractive_index>1.00149</refractive_index>
        <attenuation_factor>1.0</attenuation_factor>
      </weather>
    </city>

    <city name="Osaka">
      <latitude>34.6937</latitude>
      <longitude>135.5023</longitude>
      <elevation_m>50.0</elevation_m>
      <default_weather>cloudy</default_weather>
      <weather>
        <visibility_km>24.14</visibility_km>
        <humidity_percent>68.0</humidity_percent>
        <cloud_cover_percent>41.0</cloud_cover_percent>
        <fog>False</fog>
        <rain_mm_per_hr>0.0</rain_mm_per_hr>
        <snow_mm_per_hr>0.0</snow_mm_per_hr>
        <refractive_index>1.00207</refractive_index>
        <attenuation_factor>1.0</attenuation_factor>
      </weather>
    </city>

    <city name="Nagoya">
      <latitude>35.1815</latitude>
      <longitude>136.9066</longitude>
      <elevation_m>50.0</elevation_m>
      <default_weather>clear</default_weather>
      <weather>
        <visibility_km>24.14</visibility_km>
        <humidity_percent>76.0</humidity_percent>
        <cloud_cover_percent>26.0</cloud_cover_percent>
        <fog>False</fog>
        <rain_mm_per_hr>0.0</rain_mm_per_hr>
        <snow_mm_per_hr>0.0</snow_mm_per_hr>
        <refractive_index>1.002000</refractive_index>
        <attenuation_factor>1.000000</attenuation_factor>
      </weather>
    </city>

    <city name="Singapore">
      <latitude>1.3521</latitude>
      <longitude>103.8198</longitude>
      <elevation_m>50.0</elevation_m>
      <default_weather>clear</default_weather>
      <weather>
        <visibility_km>24.14</visibility_km>
        <humidity_percent>84.0</humidity_percent>
        <cloud_cover_percent>39.0</cloud_cover_percent>
        <fog>False</fog>
        <rain_mm_per_hr>0.0</rain_mm_per_hr>
        <snow_mm_per_hr>0.0</snow_mm_per_hr>
        <refractive_index>1.002000</refractive_index>
        <attenuation_factor>0.970000</attenuation_factor>
      </weather>
    </city>

    <city name="London">
      <latitude>51.5074</latitude>
      <longitude>-0.1278</longitude>
      <elevation_m>25.0</elevation_m>
      <default_weather>clear</default_weather>
      <weather>
        <visibility_km>9.46</visibility_km>
        <humidity_percent>89.0</humidity_percent>
        <cloud_cover_percent>100.0</cloud_cover_percent>
        <fog>False</fog>
        <rain_mm_per_hr>0.0</rain_mm_per_hr>
        <snow_mm_per_hr>0.0</snow_mm_per_hr>
        <refractive_index>1.003000</refractive_index>
        <attenuation_factor>0.921000</attenuation_factor>
      </weather>
    </city>

  </cities>
</simulation>